<div class="splash">
  <h1>IMDb Clone</h1>

  <h2>Sign Up</h2>

  <%= render 'shared/user_form', user: @user, submit_text: 'Sign Up', action: users_url %>
  <%= link_to 'Sign In', new_session_url %>
</div>